In [2]:
import pandas as pd
import numpy as np
import zipfile
    
# import data
zf = zipfile.ZipFile('../content/anonymisedData.zip')

registrations = pd.read_csv(zf.open('studentRegistration.csv'))
courseInfo = pd.read_csv(zf.open('courses.csv'))
students = pd.read_csv(zf.open('studentInfo.csv'))
student_vle = pd.read_csv(zf.open('studentVle.csv'))
vle_info = pd.read_csv(zf.open('vle.csv'))
student_assessments = pd.read_csv(
    zf.open('studentAssessment.csv'), skiprows=[128223, 64073])
assessments_info = pd.read_csv(zf.open('assessments.csv'))
index_columns = ['code_module','code_presentation','id_student']

In [3]:
index_columns = ['code_module', 'code_presentation', 'id_student']
# Registrations
full_registrations = pd.merge(
    students, registrations, on=index_columns, validate='1:1')
full_registrations = pd.merge(full_registrations, courseInfo,
                              on=['code_module', 'code_presentation'], validate='many_to_one')
full_registrations.dropna(
    subset=['date_registration', 'imd_band'], inplace=True)

In [4]:
full_registrations.drop(columns=['imd_band', 'age_band', 'num_of_prev_attempts', 'studied_credits', 'disability', 'date_registration', 'date_unregistration'], inplace=True)

In [5]:
full_registrations = pd.merge(full_registrations, student_vle, how = 'left', on =['code_module', 'code_presentation', 'id_student'], validate='m:m')

In [6]:
full_registrations = pd.merge(full_registrations, assessments_info, how = 'left', on =['code_module', 'code_presentation'], validate= 'm:m' )

In [7]:
full_registrations.drop(columns=['date_y', 'weight'], inplace=True)

In [8]:
full_registrations.rename(columns={'date_x': 'date'})

:

:

In [ ]:
full_registrations = full_registrations[full_registrations['date']>0]

In [20]:
full_registrations.groupby(by=['code_module', 'code_presentation']).count().reset_index()

,code_module,code_presentation,id_student,gender,region,highest_education,final_result,module_presentation_length,id_site,date,sum_click
0,AAA,2013J,172250,172250,172250,172250,172250,172250,172245,172245,172245
1,AAA,2014J,166810,166810,166810,166810,166810,166810,166802,166802,166802
2,BBB,2013B,394607,394607,394607,394607,394607,394607,394380,394380,394380
3,BBB,2013J,448603,448603,448603,448603,448603,448603,448241,448241,448241
4,BBB,2014B,270909,270909,270909,270909,270909,270909,270598,270598,270598
5,BBB,2014J,434860,434860,434860,434860,434860,434860,434490,434490,434490
6,CCC,2014B,452663,452663,452663,452663,452663,452663,452421,452421,452421
7,CCC,2014J,649571,649571,649571,649571,649571,649571,649384,649384,649384
8,DDD,2013B,497772,497772,497772,497772,497772,497772,497691,497691,497691
9,DDD,2013J,641807,641807,641807,641807,641807,641807,641644,641644,641644
10,DDD,2014B,349700,349700,349700,349700,349700,349700,349593,349593,349593
11,DDD,2014J,527592,527592,527592,527592,527592,527592,527439,527439,527439
12,EEE,2013J,332008,332008,332008,332008,332008,332008,331924,331924,331924
13,EEE,2014B,191561,191561,191561,191561,191561,191561,191491,191491,191491
14,EEE,2014J,380317,380317,380317,380317,380317,380317,380228,380228,380228
15,FFF,2013B,875057,875057,875057,875057,875057,875057,874961,874961,874961
16,FFF,2013J,1103394,1103394,1103394,1103394,1103394,1103394,1103215,1103215,1103215
17,FFF,2014B,641279,641279,641279,641279,641279,641279,641148,641148,641148
18,FFF,2014J,1139338,1139338,1139338,1139338,1139338,1139338,1139101,1139101,1139101
19,GGG,2013J,145472,145472,145472,145472,145472,145472,145415,145415,145415
20,GGG,2014B,122959,122959,122959,122959,122959,122959,122899,122899,122899
21,GGG,2014J,117533,117533,117533,117533,117533,117533,117482,117482,117482

In [14]:
full_registrations

,code_module,code_presentation,id_student,gender,region,highest_education,final_result,module_presentation_length,id_site,date,sum_click
21,AAA,2013J,11391,M,East Anglian Region,HE Qualification,Pass,268,546681.0,1.0,5.0
22,AAA,2013J,11391,M,East Anglian Region,HE Qualification,Pass,268,546900.0,1.0,1.0
23,AAA,2013J,11391,M,East Anglian Region,HE Qualification,Pass,268,547009.0,1.0,1.0
24,AAA,2013J,11391,M,East Anglian Region,HE Qualification,Pass,268,546986.0,1.0,1.0
25,AAA,2013J,11391,M,East Anglian Region,HE Qualification,Pass,268,547013.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
10056057,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,Distinction,269,896961.0,205.0,13.0
10056058,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,Distinction,269,896959.0,205.0,2.0
10056059,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,Distinction,269,896943.0,219.0,1.0
10056060,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,Distinction,269,896961.0,219.0,31.0
10056061,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,Distinction,269,896961.0,219.0,8.0